<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center"><font size="5">Profil Mahasiswa</font></h1>

  <ion-list>
    <ion-item>
      <ion-label>Nama : Batman</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Nomor Induk Mahasiswa : 19********</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Program Studi : Teknik Informatika</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Fakultas : Informatika dan Komputer</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
